# Data Exploration

Import các thư viện cần thiết

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Đọc dữ liệu từ file `Data/2019.csv`

In [3]:
DATA_PATH = 'Data/train.csv'

data = pd.read_csv(DATA_PATH)
print("Shape: ", data.shape)
data.head()

Shape:  (9800, 18)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,3,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,5,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680

➡️ **Nhận xét**: 

- Dữ liệu có 9800 dòng và 18 cột.

- Mỗi dòng tượng trưng cho một hàng hóa cụ thể trong một đơn hàng (mỗi đơn hàng có thể gồm nhiều dòng) và các thông tin liên quan là `Order ID` (mã đơn hàng) `Customer Name`(Tên khách hàng), `Product Name`(Tên sản phẩm), ...

- Kích thước dữ liệu: 2.03 MB.

Số giá trị duy nhất của cột `Row ID`:

In [4]:
print("Number of unique values in column 'Row ID' ", data['Row ID'].nunique())

Number of unique values in column 'Row ID'  9800

➡️ **Nhận xét**: 

- Số giá trị duy nhất của cột `Row ID` bằng với số dòng của dataset (9800) → không có dòng dữ liệu trùng.

Dữ liệu có các cột nào và ý nghĩa từng cột là gì?

In [5]:
data.columns.tolist()

['Row ID',
 'Order ID',
 'Order Date',
 'Ship Date',
 'Ship Mode',
 'Customer ID',
 'Customer Name',
 'Segment',
 'Country',
 'City',
 'State',
 'Postal Code',
 'Region',
 'Product ID',
 'Category',
 'Sub-Category',
 'Product Name',
 'Sales']

➡️ **Nhận xét**: 

- Ý nghĩa của từng đặc trưng:

    - Dưới đây là bảng giải thích chi tiết ý nghĩa của 18 cột dữ liệu trong file train.csv. Mình đã chia nhóm các cột theo chủ đề để bạn dễ hình dung cấu trúc của bảng dữ liệu này.

1. Nhóm thông tin về Đơn hàng (Order Information)

- `Row ID` (Số thứ tự dòng): Mã định danh duy nhất cho từng dòng trong bảng dữ liệu.
    - Ý nghĩa: Cột này không có ý nghĩa phân tích, chỉ dùng để đánh số thứ tự (Index).

- `Order ID` (Mã đơn hàng): Mã số duy nhất đại diện cho một lần thanh toán (một giỏ hàng).
    - Ý nghĩa: Một Order ID có thể xuất hiện nhiều lần ở nhiều dòng khác nhau nếu đơn hàng đó có nhiều sản phẩm. Ví dụ: Đơn hàng `Order ID` = 'CA-2017-152156' có 2 dòng (mua nhiều hơn 1 sản phẩm).

- `Order Date` (Ngày đặt hàng): Ngày khách hàng chốt đơn trên hệ thống.
    - Ý nghĩa: Dùng để phân tích chuỗi thời gian (Time Series), tính doanh số theo ngày/tháng/năm.

- `Ship Date` (Ngày giao hàng): Ngày hàng hóa được giao đến người nhận.
    - Ý nghĩa: Dùng để tính toán thời gian xử lý đơn hàng từ lúc đặt đến lúc giao(`Ship Date` - `Order Date`).

- `Ship Mode` (Hình thức vận chuyển): Loại dịch vụ giao hàng mà khách đã chọn.
    - Ý nghĩa: Dùng để phân ra thành các loại như: **Standard Class** (Giao thường), **Second Class** (Giao nhanh vừa), **First Class** (Giao ưu tiên), **Same Day** (Giao trong ngày).

Kiểu dữ liệu của các cột là gì?

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9800 entries, 0 to 9799
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9800 non-null   int64
 1   Order ID       9800 non-null   object
 2   Order Date     9800 non-null   object
 3   Ship Date      9800 non-null   object
 4   Ship Mode      9800 non-null   object
 5   Customer ID    9800 non-null   object
 6   Customer Name  9800 non-null   object
 7   Segment        9800 non-null   object
 8   Country        9800 non-null   object
 9   City           9800 non-null   object
 10  State          9800 non-null   object
 11  Postal Code    9789 non-null   float64
 12  Region         9800 non-null   object
 13  Product ID     9800 non-null   object
 14  Category       9800 non-null   object
 15  Sub-Category   9800 non-null   object
 16  Product Name   9800 non-null   object
 17  Sales          9800 non-null   float64
dtypes: float64(2), int64(1), object(15)
memory usage: 1.3+ MB

➡️ **Nhận xét**: 

- Dữ liệu có khá ít cột dữ liệu số chủ yếu là kiểu `datetime` và `string` (ẩn dưới dạng Dtype = Object).
    → Cần xử lí ép kiểu về các dạng tương ứng.

- Cột `Postal Code`(Mã bưu chính) đang được lưu là số thực (float). Điều này xảy ra là do cột này có giá trị bị thiếu (NaN). Mà mã bưu chính thì không phải đại lượng dùng để tính toán cộng trừ.
    → Cần xử lý các giá trị NaN và chuyển cột này sang dạng `string`.